@model ProductsListViewModel
@using SportsStore.Controllers


@{
    ViewData["Title"] = "Search";
}


<body>
    @if (AccountController.uname == null)
    {

        <div class="card border-danger mb-3" style="max-width: 18rem; padding:10px;">
            <div class="card-body text-danger">
                <h5 class="card-title">You are not Logged In!</h5>
                <p class="card-text">Please login to purchase products or add to cart.</p>
            </div>
        </div>
    }
    @foreach (var foundProduct in Model.Products)
    {
        @Html.Partial("ProductSummary", foundProduct)
    }
    <div page-action="List" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-secondary"
         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1">
    </div>

</body>

