
@using Microsoft.AspNetCore.Identity
@using ASPNetCoreIdentity.Models
@using SportsStore.Models
@using SportsStore.Controllers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@* (SignInManager.IsSignedIn(User)) System.Web.HttpContext.Current.Session["username"] *@

@if (AccountController.uname == "jokku@gmail.com")
{
<li>
    <a class="btn btn-sm btn-secondary navbar-btn"
       asp-controller="Admin" asp-action="Index"
       asp-route-returnurl="">
        <i class="fa fa-user-secret"></i> Admin Panel
    </a>
</li>
}

    @if (AccountController.uname != null)
    {
        <li>
            <a class="btn btn-sm btn-secondary navbar-btn"
               asp-controller="" asp-action=""
               asp-route-returnurl="">
                <i class="fa fa-user"></i> Hello @AccountController.uname
            </a>
        </li>
        <li>
            <!--<button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>-->
            <a class="btn btn-sm btn-secondary navbar-btn" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
        </li>
    }
    else
    {
        <li>
            <a class="btn btn-sm btn-secondary navbar-btn" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            <a class="btn btn-sm btn-secondary navbar-btn" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>

    }
